@import "https://fonts.googleapis.com/css?family=Roboto+Condensed";

html, body {
    height:100%;
}

body {
	margin: 0 auto;
	font-family: 'Roboto Condensed', serif;
	color: #ccc;
	font-size: 18px;
	background-color: #022112;
	line-height: 140%;
}

section {
	width: 50%;
	max-width: 600px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	margin: 5rem 0 2rem;
	font-size: 3rem;
	color: #fff;
	line-height: 140%;
	font-family: Helvetica, sans-serif;
	letter-spacing: -1px;
}

h1:before {
	content: "";
	display: block;
	position: absolute;
	width: 3rem;
	height: 3rem;
	background: url(havant-park-logo.svg) no-repeat;
	left: -4rem;
	top: 0.8rem;
}

h2 {
	line-height: 120%;
}

h2:after {
	content: "";
	position: relative;
	display: block;
	width: 6rem;
	height: 1px;
	background: #ccc;
	margin: 1rem 0 3rem;
}

p {
	margin: 0 0 1rem;
}
p:last-of-type {
	margin: 6rem 0 0;
	padding-bottom: 5rem;
}
p:last-of-type:before {
	content: "";
	position: relative;
	display: block;
	width: 6rem;
	height: 1px;
	background: #ccc;
	margin-bottom: 1rem;
}

a {
	color: #fff;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: none;
}

.email {
	font-size: 16px;
	display: inline-block;
	padding: 0.5rem;
	background: #fff;
	color: #444;
}
.email:focus {
	background: #eee;
}
.button {
	display: inline-block;
	background: #fff;
	border: 0;
	font-size: 16px;
	padding: 0.5rem;
	color: #444;
}
.button:hover {
	background: #eee;
}

#subscribe {
	margin-top: 4rem;
}

sup {
	font-size: 0.8rem;
	font-weight: normal;
	margin-left: -0.6rem;
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 750px) {
	h1 {
		margin-top: 1rem;
	}
	h1:before {
		position: relative;
		width: 5rem;
		height: 5rem;
		left: 0;
		top: 0;
	}
	section {
		width: auto;
		padding: 3rem 2rem;
		max-width: 600px;
		position: relative;
		top: 0;
		left: 0;
		transform: none;
	}
	.button {
		margin-top: 2px;
	}
}

@media only screen and (orientation: landscape) {
	.button {
		margin-top: 2px;
	}
}

@media only screen 
and (min-device-width : 300px) 
and (max-device-width : 330px) {
	h1 {
		font-size: 2rem;
	}
	h1:before {
		position: relative;
		width: 4rem;
		height: 4rem;
		left: 0;
		top: 0;
	}
}
